# preprocessing
pandas
openai
scipy
tqdm
datasets
jellyfish
nltk
numpy
jupyterlab
matplotlib
seaborn
python-dotenv
emoji
aiohttp[speedups]
beautifulsoup4

# training
#torch
#transformers[torch]
#scikit-learn
#wandb
#evaluate
#seqeval
